
<html>
	<head>		
		<LINK href="report.css" rel="stylesheet" type="text/css">
			
        <title>JBombardierTest Report</title>
    </head>
<body>
	
	<div id="container">
	<div id="header">		
		<table>
			<tr><td><img width="45" height="50" src="http://www.vertexlabs.co.uk/images/black-flask-hi.png"/></td><td style="vertical-align:middle"><h1>Vertex Labs Performance Tester - Report</h1></td></tr>
		</table>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Agents</a></li>
			<li><a href="#">Tests</a></li>			
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
	<div id="content-container">		
		<div id="content">
			<h2>
				Test results
			</h2>			
			
			#if($!{model.failureReason})
			<div class="failure">Test failed : $utils.htmlify($model.failureReason)</div>
			#end
			
			#*
			<p>			
				<h2>Agents</h2>
				<table>
					#foreach( $agent in $agents)
						<tr><td>$foreach.count</td><td>$agent.Name</td></tr>
					#end
				</table>
			</p>
			*#
			
			#*
			<p>				
				<table id="rounded-corner">
					<THEAD >
                        <tr>
							<th scope="col" class="rounded-start">Name</th>
							<th scope="col" class="rounded-q1">Total transactions</th>
							<th scope="col" class="rounded-q2">Successes per second</th>
							<th scope="col" class="rounded-q3">Average success time (ms)</th>
							<th scope="col" class="rounded-q4">Failures per second</th>
							<th scope="col" class="rounded-end">Average failure time (ms)</th>
						</tr>
                    </THEAD>
					<TBODY >                    
					#foreach( $test in $tests)
						<tr>
							<td><strong>$test.name</strong></td>
							<td>$number.format($results.get($test.name).totalTransactions)</td>
							<td>$number.format($results.get($test.name).successPerSecond)</td>
							<td>$number.format($results.get($test.name).successElapsedMS)</td>
							<td>$number.format($results.get($test.name).failuresPerSecond)</td>
							<td>$number.format($results.get($test.name).failureElapsedMS)</td>							
						</tr>
					#end
					</TBODY>
					<TFOOT >
							<tr>								
								<td class="rounded-foot-left">&nbsp;</td>
								<td colspan="4"><em>The transaction totals represent the total for the entire test, but the other stats are 5 second moving averages based on the 5 seconds prior to the report being generated.</em></td>
								<td class="rounded-foot-right">&nbsp;</td>
							</tr>	
                    </TFOOT>
				</table>
				
			</p>
			*#
			
			<p>								
				<h2>All transactions</h2>
				
				
				
				<table id="rounded-corner">
					<THEAD >
                        <tr>
							<th rowspan="2" scope="col" class="rounded-start" nowrap="nowrap">Test</th>
							<th rowspan="2" scope="col" class="rounded-q1" nowrap="nowrap">Transaction</th>							
							<th colspan="12">General stats</th>
							<th colspan="11" scope="col" class="rounded-end">Detailed stats</th>
						</tr>
						<tr>
						    <th scope="col" class="rounded-q1">Agents</th>
						    <th scope="col" class="rounded-q1">Threads</th>
						    <th scope="col" class="rounded-q1">Sample time</th>
						    <th scope="col" class="rounded-q1">Total transactions</th>
						    <th scope="col" class="rounded-q1">Success count</th>
                            <th scope="col" class="rounded-q1">Fail count</th>
                            <th scope="col" class="rounded-q1">Success total time</th>
                            <th scope="col" class="rounded-q1">Fail total time</th>
                            
                            <th scope="col" class="rounded-q1">Success mean ms</th>
                            <th scope="col" class="rounded-q1">Failure mean ms</th>
                            
                            <th scope="col" class="rounded-q1">Success mean tps</th>
                            <th scope="col" class="rounded-q1">Failure mean tps</th>
                            
						    <th scope="col" class="rounded-q2">Transactions in window</th>
                            <th scope="col" class="rounded-q1">Mean transaction time ms</th>
							<th scope="col" class="rounded-q1">Absdev</th>
							<th scope="col" class="rounded-q1">%</th>
							<th scope="col" class="rounded-q3">tp90</th>
							<th scope="col" class="rounded-q3">SLA</th>
							<th scope="col" class="rounded-q1">Median</th>
							<th scope="col" class="rounded-q1">Min</th>
							<th scope="col" class="rounded-q1">Max</th>					
							<th scope="col" class="rounded-q1">Stddev</th>
							<th scope="col" class="rounded-q1">Maximum tps (mean)</th>							
						<tr>
                    </THEAD>
					<TBODY >                    
					#foreach( $test in $results)
						#if($math.div($resultsController.successStatsByTest.get($test.key).percentiles[90], 1000000) > $test.transactionSLA)
							#set($rowClass = 'slaFail')
						#else
							#set($rowClass = 'slaPass')
						#end
						<tr>
							#set($testName = $test.testName)									
							<td nowrap="nowrap"><a href='${test.key}.html'><strong>$testName</strong></a></td>
							<td nowrap="nowrap"><strong>$test.transactionName</strong></td>
							
							<td>$number.format($results.get($testName).agents)</td>
							<td>$number.format($results.get($testName).threads)</td>
							<td>$number.format($results.get($testName).totalSampleDuration)</td>
							<td>$number.format($results.get($testName).totalTransactions)</td>
							<td>$number.format($results.get($testName).successTransactions)</td>
							<td>$number.format($results.get($testName).failedTransactions)</td>
							<td>$number.format($results.get($testName).successTransactionsTotalTimeMillis)</td>
                            <td>$number.format($results.get($testName).failedTransactionsTotalTimeMillis)</td>
                            <td>$number.format($results.get($testName).successTimeMeanMillis)</td>
                            <td>$number.format($results.get($testName).failedTimeMeanMillis)</td>
							<td>$number.format($results.get($testName).successPerSecondNew)</td>
							<td>$number.format($results.get($testName).failedPerSecondNew)</td>
							
							#if($resultsController.successStatsByTest.get($testName).count > 0)
							<td>$number.format($resultsController.successStatsByTest.get($test.key).count)</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).mean, 1000000))</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).absoluteDeviation, 1000000))</td>
							<td nowrap="nowrap">$number.integer($resultsController.successStatsByTest.get($test.key).percentageAbsoluteDeviation) %</td>							
							<td class="$rowClass">$number.format($math.div($resultsController.successStatsByTest.get($test.key).percentiles[90], 1000000))</td>
							<td class="$rowClass" nowrap="nowrap">$test.transactionSLA</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).median, 1000000))</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).minimum, 1000000))</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).maximum, 1000000))</td>
							<td>$number.format($math.div($resultsController.successStatsByTest.get($test.key).standardDeviationSampleDistribution, 1000000))</td>
							<td>$number.format($resultsController.successStatsByTest.get($test.key).meanOps)</td>																																													
							#else
							<td>0</td>
							<td>0</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>							
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>																																													
							<td>$number.format($results.get($testName).failuresPerSecond)</td>
							<td>$number.format($results.get($testName).failureElapsedMS)</td>	
							#end
						</tr>
					#end
					</TBODY>
					<TFOOT >
							<tr>								
								<td class="rounded-foot-left">&nbsp;</td>
								<td class="rounded-foot-mid" colspan="23">&nbsp;</td>
								<td class="rounded-foot-right">&nbsp;</td>
							</tr>	
                    </TFOOT>
				</table>
				
			</p>
			
		</div>
		<div id="aside">
			#*
			<h3>
				Overview
			</h3>
			<p>
				<em>The overview provides a high level summary of the test execution.</em>
			</p>
			*#
		</div>
		
		<div id="footer">
			&nbsp;
		</div>
		
	</div>
</div>

</body>
<html>