h1 {
  padding: 5px;
}

h2 {
  padding: 5px;
}

div {
  padding: 10px;
}

table {
 text-align: center;
 border-collapse: collapse;
 border: 1px solid black;
}

table td {
  border: 1px solid darkgrey;
}

table th {
  border: 1px solid black;
}

thead {
  font-size: 12px;
  background: darkgrey;
}
